ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}
ul li{
    cursor: pointer;
}
ul li a{
    color: #000;
}
ul li a:hover,
ul li a.active {
    color: #fe5005;
}
ul li span{
    font-size: 22px;
    vertical-align: middle;
    padding: 5px;
}